/* header section start */
h1 {
    text-align: center;
    padding-top: 90px;
    font-size: 40px;
}
.span-1 {
    color: rgba(229, 115, 33, 0.753);
}

/* header section end */
/* main section start */

  .box {
    background-color: rgb(194, 225, 245);
    width: 900px;
    height: 230px;
    margin: 0 auto;
    border-radius: 20px;
  }
  h2 {
    padding-top: 25px;
    padding-left: 20px;
    font-weight: 600;
    text-align: center;
  }
  .text-input {
   margin-left: 200px;
   margin-bottom: 15px;
   padding: 7px;
   width: 500px;
  }
  .password-input {
    margin-left: 200px;
    margin-bottom: 15px;
    padding: 7px;
    width: 500px;
  }
  .btn-field{
    margin-left: 420px ;
    padding: 8px 17px;
    font-size: 16px;
    color: white;
    background-color:  rgba(229, 115, 33, 0.753) ;
    border: none;
    border-radius: 7px;
  }
  .btn-field:hover {
    background-color: darkgray;
  }
  
  
/* main section end */

/* another header section start */
.head-3 {
  font-size: 40px;
  text-align: center;
}

.money {
  color: rgba(229, 115, 33, 0.753);
}
/* another header section end */
/* another main section start */
.container {
   display: grid;
   grid-template-columns:repeat(3, 220px);
   justify-content: center;
   padding-top: 20px;
   
   
}
.box-2 {
  background-color:rgb(80, 228, 80) ;
  width: 200px;
  border-radius:13px ;
}
.box-3 {
  background-color:rgb(232, 232, 55) ;
  width: 200px;
  border-radius:13px ;
}
.box-4 {
  background-color: rgb(90, 50, 129);
  width: 200px;
  border-radius:13px ;
}
h4 {
  font-size: 20px;
  color: white;
  padding-left: 15px;
}
.doller {
  font-size: 35px;
  color: white;
  
}
.main-body {
  background-color: antiquewhite;
}
.container-2 {
  display: grid;
  grid-template-columns:repeat(2, 310px) ;
  justify-content: center;
  padding-top: 130px;
}
.box-5 {
  background-color: rgb(195, 55, 195);
  width: 240px;
  padding: 25px;
  border-radius: 12px;
 
}
.box-6 {
  background-color:rgb(53, 53, 242);
  width: 240px;
  padding: 25px;
  border-radius: 12px;
}
h5 {
  font-size: 22px;
  margin-top: -2px;
  color: white;
}
input {
  margin-left: 10px;
  width: 200px;
  padding: 5px 10px;
  margin-bottom: 10px;
 
}

button {
  margin-left: 10px;
  background-color:gray;
  border: none;
  padding: 8px 15px;
  color: white;
  border-radius: 7px;
  font-size: 15px;
  
}
button:hover {
  background-color: rgba(255, 106, 0, 0.822);
}
.span {
  font-size: 35px;
  color: white;
}
/* another main section end */